<section class="page-content" edit-form>

    <!-- Loading screen -->
    <!--<div id="loader-wrapper" class="loading">-->
        <!--<div id="loader"></div>-->
    <!--</div>-->

    <div ng-show="display == 'true'" class="container">
        <h4 id="network-bar-default">
                <strong ng-show="!editMode" >{{ sample.name }}</strong>
                <strong ng-show="editMode" >{{ 'EDIT_SAMPLE' | translate }}</strong> <span>
                <button ng-show="!editMode" class="btn btn-small btn-tag"><strong>{{ 'SAMPLE'| translate}}</strong></button></span>
            <a id="edit-collection" class="btn btn-small btn-primary pull-right edit-form"><strong>{{ 'EDIT' | translate }}</strong></a>
            <a class="btn btn-small btn-primary pull-right btn-white save-form" ng-disabled="sample_form.$invalid"><strong>{{ 'SAVE_CHANGES' | translate }}</strong></a>
            <a class="btn btn-small btn-primary pull-right btn-transparent save-form cancel btn-edit-collection-sample-cancel"><strong>{{ 'CANCEL' | translate }}</strong></a>
        </h4>
        <hr/>
    </div>

    <div class="container">
         <div class="row">
             <div class="col-md-8">
                 <form action="#" class="form-horizontal form-block" role="form" name="sample_form" novalidate>
                     <div class="small-field">

                         <div ng-show="display == 'true' && !editMode" id="network-id" class="form-group">
                             <label class="col-sm-3">{{ 'SAMPLE_ID' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" value="{{sample.id}}"></div>
                         </div>

                         <div ng-show="display == 'false' || editMode" id="network-name" class="form-group">
                             <label class="col-sm-3">{{ 'NAME' | translate }} *</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="sample.name" required></div>
                         </div>

                         <div ng-show="display == 'true' && !editMode"  class="form-group">
                             <label class="col-sm-3">{{ 'COLLECTION' | translate }}</label>
                             <div class="col-sm-9"><input class="form-control" readonly value="{{collection.curator.name}}" /></div>
                         </div>

                         <div ng-show="display == 'true' && editMode" class="form-group">
                             <label class="col-sm-3">{{ 'COLLECTION' |  translate }}</label>
                             <div class="col-sm-9">
                                 <angucomplete-alt id="curators"
                                                   placeholder="Search an Collection"
                                                   pause="150"
                                                   selected-object="collectionSelectedFn"
                                                   remote-api-handler="collectionAutocomplete"
                                                   title-field="name"
                                                   minlength="2"
                                                   initial-value="collectionSelected"
                                                   disable-input="disableAutocomplete"
                                                   input-class="form-control"/>
                             </div>
                         </div>

                         <div ng-show="!editMode" class="form-group">
                             <label class="col-sm-3">{{ 'CURATOR' | translate }}</label>
                             <div class="col-sm-9"><input class="form-control" readonly value="{{collection.curator.name}}" /></div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3">{{ 'CURATOR' |  translate }}</label>
                             <div class="col-sm-9">
                                 <angucomplete-alt id="curators"
                                                   placeholder="Search an Curator"
                                                   pause="150"
                                                   selected-object="curatorSelectedFn"
                                                   remote-api-handler="curatorAutocomplete"
                                                   remote-url-data-field="content"
                                                   title-field="name"
                                                   minlength="2"
                                                   initial-value="curatorSelected"
                                                   disable-input="disableAutocomplete"
                                                   input-class="form-control"/>
                             </div>
                         </div>

                         <div ng-show="!editMode"  class="form-group">
                             <label class="col-sm-3">{{ 'INSTITUTION' | translate }}</label>
                             <div class="col-sm-9"><input class="form-control" readonly value="{{collection.institution.name}}" /></div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3">{{ 'INSTITUTION' | translate  }}</label>
                             <div class="col-sm-9">
                                 <angucomplete-alt id="institution"
                                                   placeholder="Search an Intitution"
                                                   pause="150"
                                                   selected-object="institutionSelectedFn"
                                                   remote-api-handler="institutionAutocomplete"
                                                   title-field="name"
                                                   minlength="2"
                                                   initial-value="institutionSelected"
                                                   disable-input="disableAutocomplete"
                                                   input-class="form-control"/>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3"><em style="font-weight: 100">* {{ 'REQUIRED_FIELDS' | translate }}</em></label>
                             <div class="col-sm-9">&nbsp;</div>
                         </div>
                     </div>
                 </form>
             </div>

             <div class="col-md-4">
                 <image-box title="Add new photo" image="{{sample.image}}" id="{{sample.image.attachment.id}}"></image-box>
             </div>

         </div>

        <hr/>


    </div>
</section>