<section class="page-content" edit-form>
    <div class="container">
        <div class="row">
            <div class="col-md-2"><h5 class="collection section-header"><strong>{{ 'TAXONOMY' | translate }}</strong></h5></div>
            <div class="col-md-8">
                <form ng-class="{'view-mode': display == 'true'}" id="taxonomy_sample_form" action="#" class="form-horizontal form-block" role="form" novalidate>
                    <div class="small-field">
                        <div class="form-group">
                            <label class="col-sm-4">{{ 'KINGDOM' | translate }}</label>
                            <div class="col-sm-9 pull-right"><input type="text" class="form-control" data-ng-model="sample.taxonomy.kingdom"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">{{ 'PHYLUM' | translate }}</label>
                            <div class="col-sm-9 pull-right"><input type="text" class="form-control" data-ng-model="sample.taxonomy.phylum"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">{{ 'CLASS' | translate }}</label>
                            <div class="col-sm-9 pull-right"><input type="text" class="form-control" data-ng-model="sample.taxonomy.hierarchyClass"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">{{ 'ORDER' | translate }}</label>
                            <div class="col-sm-9 pull-right"><input type="text" class="form-control" data-ng-model="sample.taxonomy.order"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">{{ 'FAMILY' | translate }}</label>
                            <div class="col-sm-9 pull-right"><input type="text" class="form-control" data-ng-model="sample.taxonomy.family"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">{{ 'GENUS' | translate }}</label>
                            <div class="col-sm-9 pull-right"><input type="text" class="form-control" data-ng-model="sample.taxonomy.genus"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">{{ 'SPECIES_EPITETH' | translate }}</label>
                            <div class="col-sm-9 pull-right"><input type="text" class="form-control" data-ng-model="sample.taxonomy.speciesEpiteth"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">{{ 'SUBSPECIES' | translate }}</label>
                            <div class="col-sm-9 pull-right"><input type="text" class="form-control" data-ng-model="sample.taxonomy.subspecies"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">{{ 'SCIENTIFIC_NAME' | translate }}</label>
                            <div class="col-sm-9 pull-right"><input type="text" class="form-control" data-ng-model="sample.taxonomy.scientificName"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr/>
    </div>
</section>