<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-2"><h5 class="collection section-header"><strong>{{ 'TAXONOMY' | translate }}</strong></h5></div>
            <div class="col-md-8">
                <form action="#" class="form-horizontal view-mode form-block" role="form" name="collection_form" novalidate>
                    <div class="small-field">

                        <div class="form-group">
                            <label class="col-sm-3">{{ 'KINGDOM' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="network.contact.phoneNumber"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">{{ 'PHYLUM' | translate }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" data-ng-model="network.contact.address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">{{ 'CLASS' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="network.contact.city"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">{{ 'ORDER' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="network.contact.district"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">{{ 'FAMILY' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="network.contact.postalCode"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">{{ 'GENUS' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="network.contact.country"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">{{ 'SPECIES_EPITETH' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="network.contact.country"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">{{ 'SUBSPECIES' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="network.contact.country"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">{{ 'SCIENTIFIC_NAME' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="network.contact.country"></div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
        <hr/>
    </div>

</section>
