<div id="support_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'ASK_FOR_SUPPORT' | translate }}</h4>
            </div>
            <div class="modal-body">

                <form name="form_support" novalidate>
                    <div class="form-group">
                        <label for="ipt_email">{{ 'EMAIL' | translate }}</label>
                        <input type="email" class="form-control" id="ipt_email" placeholder="{{ 'EMAIL' | translate }}" required>
                    </div>
                    <div class="form-group">
                        <label for="ipt_subject">{{ 'SUBJECT' | translate }}</label>
                        <input type="TEXT" class="form-control" id="ipt_subject" placeholder="{{ 'SUBJECT' | translate }}" required>
                    </div>
                    <div class="form-group">
                        <label for="ipt_message">{{ 'MESSAGE' | translate }}</label>
                        <textarea rows="10" class="form-control" id="ipt_message" placeholder="{{ 'MESSAGE' | translate }}" required></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="!form_support.$valid">{{ 'SEND' |  translate }}</button>
            </div>
        </div>
    </div>
</div>