<footer class="l-footer">

    <div class="container">
        <div login-box ></div>
    </div>

    <div class="bar-footer">
           <div class="pull-right">
               <a ng-click="showFormSupport()" class=" pull-right btn btn-small btn-primary btn-ask-support"><i class="fa fa-life-saver"></i>{{ 'ASK_FOR_SUPPORT' | translate }}</a>
           </div>


        <!-- GOV.BR toolbar JavaScript -->
        <script defer="defer" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
        <div id="footer-brasil"></div>
    </div>

</footer>
