<footer class="l-footer">

    <div class="container">

        <!-- FOOTER-TOP -->
        <div class="footer-top">
            <div class="row">
                <div class="col-md-12">
                    <a href="javascript:" class="footer-branding" translate="PAGE_TITLE"></a>
                </div>
            </div>
        </div>

        <!-- FOOTER-MIDDLE -->
        <div class="footer-middle">
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix">
                        <a href="#" class="branding pull-left" title="{{'PAGE_TITLE' | translate}}"></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER-BOTTOM -->
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline">
                        <li><a href="javascript:">{{ 'PRIVACY_STATEMENT' | translate }}</a></li>
                        <li><a href="javascript:">{{ 'PRIVACY_DISCLAIMER' | translate }}</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-right">
                    <p class="copy">&copy; {{ 'PAGE_TITLE' | translate }}</p>
                </div>
            </div>
        </div>
    </div>

</footer>
