<footer class="l-footer">


    <div class="container">
        <div login-box ></div>
        <!-- FOOTER-TOP -->
        <div class="footer-top">
            <div class="row">
                <div class="col-md-12 pull-right">
                    <a ng-click="showFormSupport()" class=" pull-right btn btn-small btn-primary btn-ask-support"><i class="fa fa-life-saver"></i>{{ 'ASK_FOR_SUPPORT' | translate }}</a>
                    <!-- GOV.BR toolbar JavaScript -->
                    <script defer="defer" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
                    <div id="footer-brasil"></div>
                </div>
            </div>
        </div>
    </div>

</footer>
