<header class="l-header">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="clearfix">

                    <a data-ui-sref="home" class="branding pull-left" title="Biodiversity Collections" translate="PAGE_TITLE"></a>

                </div>
            </div>
            <div class="col-md-6 text-right">
                <div username-box logged="logged" name="fullName" isAdmin="isUserAdministrator" placement="bottom"></div>
            </div>
        </div>
    </div>
    <hr class="horizontal-line"/>
</header>
