<header class="l-header">

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="clearfix">

                    <div class="row">
                        <div class="col-md-6">
                            <a data-ui-sref="home" class="branding pull-left" title="Biodiversity Collections" translate="PAGE_TITLE"></a>
                        </div>
                        <div class="col-md-6">
                            <form id="form-header" class="form-inline" ng-show="showHeaderForm">
                                <div class="small-field">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}">
                                    </div>
                                    <div class="form-group">
                                        <div class="select-wrapper">
                                            <select>
                                                <option value="5" selected>ilad dad</option>
                                                <option value="5">1dasdas0</option>
                                                <option value="5">1dsad5</option>
                                                <option value="5">dsad20</option>
                                                <option value="5">2dsadsa5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a type="button" class="btn btn-primary small" style="cursor: pointer; margin-top: 3px;height: 32px;"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <div username-box logged="logged" name="fullName" isAdmin="isUserAdministrator" placement="bottom"></div>
            </div>
        </div>
    </div>
</header>
