<header class="l-header">

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="clearfix">

                    <div class="row">
                        <div class="col-md-4">
                            <a data-ui-sref="home" class="branding pull-left" title="Biodiversity Collections" translate="PAGE_TITLE"></a>
                        </div>
                        <search-box />
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-right pull-right">
                <div username-box logged="logged" name="fullName" isAdmin="isUserAdministrator" placement="bottom"></div>
            </div>
        </div>
    </div>
</header>
