<div class="small-field">
    <img id="box-image" class="img-responsive img-thumbnail" src="images/empty_img.png" style="max-width: 100%; width: 500px; height: 250px">
    <ul class="list-inline collection-image">
        <li>
            <img id="box-image-0" data-slot="0" class="img-responsive img-thumbnail img-thumbnail-mini" src="images/empty_img.png" style="cursor: pointer;max-width: 60px; width: 60px; height: 50px">
            <a ng-show="editMode" class="bt-img-close-click clearfix"><i class="bt-img-close fa fa-close"></i></a>
        </li>
        <li>
            <img id="box-image-1" data-slot="1" class="img-responsive img-thumbnail img-thumbnail-mini" src="images/empty_img.png" style="cursor: pointer;max-width: 60px; width: 60px; height: 50px">
            <a ng-show="editMode" class="bt-img-close-click clearfix"><i class="bt-img-close fa fa-close"></i></a></li>
        <li>
            <img id="box-image-2" data-slot="2" class="img-responsive img-thumbnail img-thumbnail-mini" src="images/empty_img.png" style="cursor: pointer;max-width: 60px; width: 60px; height: 50px">
            <a ng-show="editMode" class="bt-img-close-click clearfix"><i class="bt-img-close fa fa-close"></i></a></li>
        <li>
            <img id="box-image-3" data-slot="3" class="img-responsive img-thumbnail img-thumbnail-mini" src="images/empty_img.png" style="cursor: pointer;max-width: 60px; width: 60px; height: 50px">
            <a ng-show="editMode" class="bt-img-close-click clearfix"><i class="bt-img-close fa fa-close"></i></a></li>
        <li>
            <img id="box-image-4" data-slot="4" class="img-responsive img-thumbnail img-thumbnail-mini" src="images/empty_img.png" style="cursor: pointer;max-width: 60px; width: 60px; height: 50px">
            <a ng-show="editMode" class="bt-img-close-click clearfix"><i class="bt-img-close fa fa-close"></i></a></li>
    </ul>
    <div class="clearfix"></div>
    <hr ng-show="editMode" />
    <a ng-show="editMode" class="btn btn-primary btn-small pull-right" onclick="$('#ipt-file').click()"><strong>{{title}}</strong></a>
    <input ng-show="editMode" type="file" id="ipt-file" style="display: none" multiple accept='image/*' />
</div>
