<div class="col-md-6">

    <form id="form-header" class="form-inline" ng-show="showHeaderForm">
        <div class="small-field">
            <div class="form-group">
                <angucomplete-alt id="searchTop"
                                  placeholder="{{ 'SEARCH' | translate }}"
                                  pause="150"
                                  selected-object="searchSelectedFn"
                                  remote-api-handler="searchAutocomplete"
                                  title-field="name"
                                  text-no-results="{{ 'NO_RESULTS_FOUND' | translate }}"
                                  minlength="3"
                                  initial-value="searchSelected()"
                                  disable-input="disableAutocomplete"
                                  input-class="form-control"/>
            </div>
            <div class="form-group" style="width: 110px;">
                <select select-wrap data-ng-model="searchType">
                    <option value="collection">{{ 'COLLECTION' | translate }}</option>
                    <option value="institution">{{ 'INSTITUTION' | translate }}</option>
                    <option value="network">{{ 'NETWORK' | translate }}</option>
                    <option value="curator">{{ 'CURATOR' | translate }}</option>
                    <option value="document">{{ 'DOCUMENT' | translate }}</option>
                </select>
            </div>
            <div class="form-group">
                <a type="button" ng-click="search()" class="btn btn-primary small" style="cursor: pointer; margin-top: 3px;height: 32px;"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </form>
</div>