<!-- MAIN -->
<section class="l-main general">
    <!-- Loading screen -->
    <div id="loader-wrapper" class="loading">
        <div id="loader"></div>
    </div>
    <!-- PAGE-HEADER -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <h3 style="padding-left: 15px" translate="FORGOT_YOUR_PASSWORD"></h3>
                <div class="col-md-8">
                    <h7>{{ 'ENTER_YOUR_EMAIL_ADDRESS_TO_RESET_YOUR_PASSWORD' | translate }}</h7>
                </div>
            </div>
        </div>
    </div>

    <section class="page-content">
        <div class="container">
            <div class="row">
               <form ng-submit="forgotPasswordFormSubmit()" class="view-mode form-block">
                    <div class="col-md-12">
                        <div class="form-group" style="background: #FFF">
                            <label for="email">{{ 'EMAIL' | translate}}</label>
                            <input id="email" type="email" value="" class="form-control input-sm" data-ng-model="user.email">
                        </div>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-8"></div>
                            <div class="btn-group pull-left" style="width:20%;margin-left: -430px">
                                <button class="btn btn-primary btn-block rounded" type="submit">{{ 'SUBMIT' | translate }}</button>
                            </div>
                        </div>
                    </div>
                   <div class="col-md-12">&nbsp;</div>
                </form>
            </div>
        </div>
     </section>

</section>