<div id="login-box" class="login-form">

    <div class="login-form">

            <form name="form_signin" class="form-signin" ng-submit="loginFormSubmit()">
                <h4 class="form-signin-heading">{{'SIGN_IN' | translate }}<a ng-click="closeLoginBox()" class="pull-right"><i class="fa fa-close"></i></a></h4>
                <div class="form-group">
                    <label for="inputUsername" >{{'USERNAME' | translate }}</label>
                    <input type="text" id="inputUsername" class="form-control" required autofocus data-ng-model="user.username">
                </div>
                <div class="form-group">
                    <label for="inputPassword" >{{'PASSWORD' | translate }}</label>
                    <input type="password" id="inputPassword" class="form-control" required data-ng-model="user.password">
                </div>
                <div class="row-fluid">
                    <div class="col-sm-6 checkbox-wrapper">
                        <div class="checkbox" style="display: none;">
                             <input type="checkbox" id="rem-me" value="remember-me"><label for="rem-me">Remember me</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg rounded" type="submit" style="width: 100%">{{'SIGN_IN' | translate }}</button>
                        </div>
                        <div class="row-fluid txt-center"><a href="javascript:" ng-click="goToForgotPage()" class="forgot-pw">{{'FORGOT_PASSWORD' | translate }}</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">&nbsp;</div>
                </div>
            </form>

    </div>
</div>
