<!-- MAIN -->
<section class="l-main general">
    <!-- Loading screen -->
    <div id="loader-wrapper" class="loading">
        <div id="loader"></div>
    </div>
    <!-- PAGE-HEADER -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <h3 style="padding-left: 15px" translate="RESET_YOUR_PASSWORD"></h3>
                <div class="col-md-8">
                    <h7 ng-show="!resetYourPassword">Please enter a new password for your {{user.email}} account.</h7>
                    <h7 ng-show="resetYourPassword">Please type the actual password of your account and then enter a new one.</h7>
                </div>
            </div>
        </div>
    </div>

    <section class="page-content">
        <div class="container">
            <div class="row">
                <form ng-submit="resetPasswordFormSubmit()" class="view-mode form-block" role="form" name="reset_password_form" novalidate>
                    <div class="col-md-8">
                        <div ng-show="resetYourPassword" class="form-group" style="background: #FFF">
                            <label for="password">{{ 'ACTUAL_PASSWORD' | translate }}</label>
                            <input id="password" type="password" value="" class="form-control input-sm" data-ng-model="user.actualPassword">
                        </div>
                        <hr/>
                        <div class="form-group" style="background: #FFF">
                            <label for="password">{{ 'NEW_PASSWORD' | translate }}</label>
                            <input id="password" type="password" value="" class="form-control input-sm" data-ng-model="user.password" required>
                        </div>
                        <div class="form-group" style="background: #FFF">
                            <label for="retype">{{ 'RETYPE_PASSWORD' | translate }}</label>
                            <input id="retype" type="password" value="" class="form-control input-sm" data-ng-model="user.confirmPassword" required>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12"></div>
                        <div class="col-md-12"></div>
                        <div class="btn-group pull-right" style="width:20%;margin-left: -430px">
                            <button class="btn btn-primary btn-block" type="submit" ng-disabled="!reset_password_form.$valid">{{ 'SUBMIT' | translate }}</button>
                        </div>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                </form>
            </div>
        </div>
    </section>

</section>