<ul class="list-inline user-meta" style="margin-bottom: 0px;">
    <li ng-show="!logged"><a href="javascript:" login-show style="cursor: pointer"><i class="fa fa-sign-in"></i> {{ 'LOGIN' | translate }} </a></li>
    <li class="user-detail" ng-show="logged">
        <i class="fa fa-user"></i>
        <span class="username-login-box">&nbsp;{{name}}</span>
        <i class="fa fa-caret-down "></i>
    </li>
    <li>
        <translate-box />
    </li>
</ul>
<div id="box_template" style="display: none">

<div class="user-popover">
    <p><b>{{name}}</b><span><i ng-click="closePopover()" class="fa fa-close pull-right" style="color:#249953;"></i></span></p>
    <div class="user-links">
    <br/>
    <span><a ng-click="showFormSupport()"><i class="fa fa-life-saver"></i>&nbsp;{{'ASK_FOR_SUPPORT' | translate }}</a><br/></span>
    <span><a ui-sref="report"><i class="fa fa-area-chart"></i>&nbsp;{{'REPORTING' | translate }}</a><br/></span>
    <span ng-show="isUserAdministrator">
        <a ui-sref="admin"><i class="fa fa-cog"></i>&nbsp;{{'ADMINISTRATION' | translate }}</a><br/>
    </span>
    <span><a href="javascript:" ng-click="logoutFunc()" class="logoutBt"><i class="fa fa-sign-out"></i>&nbsp;{{'LOGOUT' | translate }}</a></span>
    </div>
</div>
</div>