<ul class="list-inline user-meta" >
    <li ng-show="!logged"><a href="javascript:" login-show style="cursor: pointer"><i class="fa fa-sign-in"></i> {{ 'LOGIN' | translate }} </a></li>
    <li class="user-detail" ng-show="logged">
        <i class="fa fa-user"></i>
        <span class="username-login-box">&nbsp;{{name}}</span>
        <i class="fa fa-caret-down "></i>
    </li>
    <li>
        <translate-box />
    </li>
</ul>
<div id="box_template" style="display: none">

<div class="user-popover">
    <p>{{name}}<span><i ng-click="closePopover()" class="fa fa-close pull-right" style="color:#249953;"></i></span></p>
    <div class="user-links">
    <br/>
    <a ng-click="editUserSettings()">{{'SETTINGS' | translate }}</a><br/>
    <a href="javascript:" ng-click="logoutFunc()" class="logoutBt">{{'LOGOUT' | translate }}</a>
    </div>
</div>
</div>