a:focus{
	outline: none;
}
/** MAIN */
.l-main{
	
	.page-header{
		border-bottom: none;

		h3{
			margin-top: 0px;
		}
	}
}

.loading{
	background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 4000;

	img{
		position: absolute;
		z-index: 4000;
		top: 48%;
		width: 32px;
		height: 32px;
	}
}
.txt-center{
	text-align: center;
}
body.noscroll{
	position: fixed;
	overflow: hidden;
	width: 100%;
}
.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
}

.breadcrumb a{
  color:$green;
  font-weight:bolder;
  text-decoration: none;
}

.breadcrumb > li + li:before {
  color: #666;
  content: "> ";
  padding: 0 5px;
  font-weight:bold;
}

i.bt-img-close{
  color:#000!important;
  border: solid 1px #EAEAEA;
  width:100%;
  padding-top:4px;
  padding-left:40%;
  height:25px;
}

.angucomplete-description {
	font-size: 12px;
}

.number-icon {
	background-image: url("../images/marker_icon.png");
	text-align: center;
	color: $green;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-right: 5px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: $green;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-right: 10px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #008937;
  font-weight:bold;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #008937;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #008937;
  cursor: default;
  background-color: transparent;
  border-color: #EAEAEA;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #ABD8BD;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ABD8BD;
}
