h5.collection.section-header{
  margin-top: 0;
  line-height: 25px;
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
    border: solid 1px #cccccc;
}

table.specimen-table input.form-control{
  padding: 0;
}

table.specimen-table a.btn-small-delete{
  padding: 10px 10px 23px 10px ;
}

table.sample-table tr{
  border-bottom: solid 1px #cccccc;
}
table.sample-table a.btn-small-delete {
  padding: 10px 10px 20px 10px; }