h5.collection.section-header{
  margin-top: 0;
  line-height: 25px;
}
.angucomplete-dropdown {
  border:solid 1px #CCCCCC!important;
  overflow-y: auto!important;
  max-height: 200px!important;
  width:500px!important;
}
.angucomplete-row {
  padding: 5px;
  color: #000000;
  margin-bottom: 4px;
  clear: both;
  width:100%!important;
}
.angucomplete-title {
  width:100%!important;
  font-size: 14px;
  text-align:justify;
}
table.specimen-table input.form-control{
  //padding: 0;
}

table.specimen-table a.btn-small-delete{
  //padding: 10px 10px 23px 10px ;
}

table.sample-table tr{
  border-bottom: solid 1px #cccccc;
}
table.sample-table a.btn-small-delete {
  //padding: 10px 10px 20px 10px;
}