.hero{
	
	padding-top: 70px;
	color: #735d5e;

	p{
		width: 646px;
		margin: 0px auto;
		font-size: 16px;
		margin-bottom: 40px;
		font-weight: 500;
	}

	.btn{
		width: 250px;
		margin: 0px auto 60px auto;
	}

}