.leaflet-popup-content-wrapper{
  border-radius:0;
}
a.leaflet-control-zoom-in{
  background-color:$green!important;
  color:#fff;
  border-radius:0;
  margin-bottom:2px;
}

a.leaflet-control-zoom-out{
  background-color:$green!important;
  color:#fff;
  border-radius:0;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.leaflet-bar a:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: none;
}