/** TABS */
#tabs > ul {
	height: 40px;
	border-bottom: 1px solid #dfe0e1; }
#tabs > ul li a {
	/*    color: #735d5e;*/
	height: 40px;
	line-height: 40px;
	padding: 0px 10px;
	display: block;
	outline: none;
	text-decoration: none;
	position: relative;
	font-family: "Roboto", sans-serif; }
#tabs > ul li a:hover {
	background-color: transparent!important;
	border: none;
	text-transform: none;
	color: #33a15f; }
#tabs > ul li.active a {
	background-color: transparent;
	border: 0;
	color: #008937; }
#tabs > ul li.active a:after {
	background: url("/images/angle-up.png") #fff no-repeat 0 7px;
	width: 12px;
	height: 15px;
	content: " ";
	position: absolute;
	bottom: -1px;
	left: 50%;
	margin-left: -7.5px;
	font-size: 20px;
	line-height: 21px;
	color: #dfe0e1;
	text-align: left !important; }