/** FORM STYLES */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
select{
	border: 1px solid #ddd;
	height: 40px;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
	font-weight: 400;

	&:focus,&:active{
		outline: none;
		box-shadow: none;
		border: 1px solid #ddd;
	}	
}

select.form-control{
	box-shadow: none;
	border-radius: 0 !important;
	-webkit-appearance : none;
	-moz-appearance : none;

	&:focus,&:active{
		box-shadow: none;
		border:1px solid #ddd;
		outline: none;
	}
}

.select-wrapper{
	width: 100%;
	position: relative;
	display: inline-block;
	box-shadow: none;

	button.multiselect-button{
		border-radius: 0;
		box-shadow: none;
		height: 30px;
		margin-top: 3px;
		
		span{
			width: 100%;
			text-align: left;
			height: 18px;
			overflow: hidden;
			display: block;
		}
		.caret{
			display: none;
		}
	}
	ul.multiselect-container{
		border-radius:0;
		margin-top: -1px;

		li{

			label{
				width: 100%;
				border-bottom: 1px solid #dfe0e1;
				color: #666;
				line-height: 26px;

				&:hover{
					background-color: $green;
					color:#fff;
				}
				input[type="checkbox"]{
					display: none;
				}

				&:after{
					width: 18px;
					height: 18px;
					background-color: #fff;
					position: absolute;
					content: "";
					left: 8px;
					top: 7px;
					border: 1px solid #dfe0e1;
				}
			}
			&.active{

				label{
					color:#666;
						&:hover{
							color: #fff;
						}
						&:after{
							font-family: 'FontAwesome';
							content: "\f00c";
							text-align: center;
							line-height: 16px;
							color: $green;
						}
					}
			}
		}
	}
	&:after{
		font-family: 'FontAwesome';
		width: 40px;
		height: 40px;
		background-color: $green;
		position: absolute;
		top:0px;
		right: 0px;
		content: "\f0d7";
		color: #fff;
		text-align: center;
		line-height: 40px;
		pointer-events:none; 
	}
	&.open{
		&:after{
			content: "\f0d8";
		}
	}

	select{
		width: 100% !important;
		float: none;
		height: 40px;
		border: 1px solid #ddd;
		font-family: $font-1;
	}
}

textarea.form-control{
	@extend input[type="text"];
	min-height: 100px;
	border: 1px solid #ddd;
}

.input-group-addon{
	background-color: $green;
	border: 1px solid $green;
	color: #fff;
	border-radius: 0px;

	a{
		color: #fff;
		display: block;
	}
}

/**
* standard fields
*/

.standard-field{
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="search"],
	input[type="tel"],
	select{
		height: 40px;
	}
}

/**
* small fields
*/
.small-field{
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="search"],
	input[type="tel"],
	select{
		height: 30px;
		font-size: 12px;
		margin-top: 3px;
	}
	.select-wrapper::after{
		height: 30px;
		width: 30px;
		line-height: 30px;
		margin-top: 3px;
	}

	.full-width{
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="search"],
	input[type="tel"],
	select{
		margin-top: 10px;
	}

}
}




/**
 * Form Block Styles
 */
form.form-block{

	.form-group{
		// Self Closing Clearfix
		&:after{
			content: "";
			display: table;
			clear: both;
		}
		&.row{
			padding: 10px;
		}
		//padding-top: 5px;
		//padding-bottom: 5px;
		padding-right: 5px;

		div{
			width: 50%;
			float: left;
		}
	
		&.fullwidth-input{

				label{
					float: none;
				}

				input[type="text"],
				input[type="password"],
				input[type="email"],
				input[type="search"],
				input[type="tel"],
				.select-wrapper{
					width: 100%;
				}
		}
		div.field-description{
			float: none;
			clear: both;
			width: 100%;
			padding-right: 0;
			display: none;

			label{
				float: none;
				clear: both;
				padding-left: 0;
				font-style: italic;
				font-size:14px;
				font-weight: 500;
				margin-bottom: 0; 
			}
			textarea{
				float: none;
				font-weight: normal;
				
			}
		}
		&.open div.field-description{
			display: block;
		}
	}
	
	.form-group:nth-child(even){
		//background-color: #f8f8f8;
	}

	label{		
		height: auto;
		//min-height: 40px;
		//padding-top: 10px;
		//padding-left: 10px;

	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="search"],
	input[type="tel"],
	select{
		//width: 50%;
		font-family: $font-2;
	}

	textarea{
		font-family: $font-2;
		width: 500px !important;
		border: 1px solid #ddd;
		padding: 10px;
		outline: none;
		margin-bottom: 10px;
	    text-align: justify;
	}

	&.view-mode{
		input[readonly],
		input[readonly="readonly"],
		select[readonly="readonly"],
		textarea[readonly="readonly"],
		input[disabled="disabled"],
		select[disabled="disabled"],
		textarea[disabled="disabled"]{
			//width: 50%;
			border-radius: 0px;
			border: none;
			background-color: transparent;
			box-shadow: none;
			font-family: $font-2;
			font-size: 14px;
		}

		textarea[readonly="readonly"]{
			width: 100%;
			overflow: visible !important;
		}

		.select-wrapper:after{ display: none; }
	}

}

textarea.autoresize,
form.form-block.view-mode textarea[readonly="readonly"]{
	min-height: 2px;
	resize: none;
	overflow: hidden !important;
}

form.form-block.view-mode textarea.smallField,
form.form-block.edit-mode textarea.smallField{
	height: 40px !important;
	overflow: auto !important;
}

form.form-block.view-mode textarea.importanceFour,
form.form-block.edit-mode textarea.importanceFour{
	height: 90px !important;
	overflow: auto !important;
}

form.form-block.view-mode textarea.importanceThree,
form.form-block.edit-mode textarea.importanceThree{
	height: 130px !important;
	overflow: auto !important;
}

form.form-block.view-mode textarea.importanceTwo,
form.form-block.edit-mode textarea.importanceTwo{
	height: 230px;
	overflow: auto !important;
}

form.form-block.view-mode textarea.importanceOne,
form.form-block.edit-mode textarea.importanceOne{
	height: 390px !important;
	overflow: auto !important;
}


/**
* esp checkbox
*/
.checkbox-wrapper{
			color: #303030;
			line-height: 20px;
			max-height: 200px;
			overflow-y: auto;

			.checkbox{
				margin-bottom: 18px;
			}
			
			label{
				padding-left: 26px;
				font-size: 14px;
    			line-height: 18px;
    			font-weight: 500;
			}

			input[type=checkbox] { 
				display:none; 
				
			}
			input[type=checkbox] + label:before {
			  	display: inline-block;
			  	font-family: FontAwesome;
				content: "\f00c";
				color: #fff;
				border: 1px solid #8c8c8c;
				margin: 0 10px 0 -26px;
				width: 16px;
				height: 16px;
				font-size: 10px;
				text-align: center;
				background-color: #fff;
				line-height: 15px;
			 } 
			 input[type=checkbox]:checked + label{
			 	color: $green;
			 }
			input[type=checkbox]:checked + label:before { 
				content: "\f00c";
				color: $green;

				// background-position: 0 -15px;
			} 
		}


.edit-mode 	#esp-slider .block-bottom{
	display: block;
}

.inner-field-list{

	h5{
		margin: 0;
		padding: 10px 0 0 0;
		font-size: 14px;
	}

	ul{
		margin: 0 0 12px 0;
		padding: 0 0 0 14px;

		li{
			list-style-type: none;
			font-weight: normal;
			position: relative;
			line-height: 24px;

			&:before{
				font-family: 'FontAwesome';
				content: "\f0da";
				text-align: center;
				display: block;
				position: absolute;
				color: $green;
				font-size: 18px;
				left: -12px;
				top: 0;
			}
		}
	}

}
.radio-group > span{
	height: 30px;
}
.radio-group h5{
	font-size: 15px;
	margin: 4px 0;
}
input.esp-radio{
	display: none;
}
form.form-block .esp-radio + label{
	padding-top: 2px;
}

.esp-radio + label:before{
	border: 1px solid #dfe0e1;
    border-radius: 50px;
    color: #008937;
    content: "";
    display: block;
    font-family: "FontAwesome";
    font-size: 8px;
    height: 16px;
    left: 0;
    line-height: 15px;
    margin-top: -11px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 16px;
}
.esp-radio:checked + label:before{
	content: "\f111";
}
.esp-radio:disabled + label:before{
	background-color: #dfe0e1;
}
.esp-radio[disabled]:checked + label:before{
	content: "\f111";
	color:#696969;
	background-color: #dfe0e1;
}


/**
* Validations
*/

input.ng-invalid.ng-touched,
input.ng-invalid.ng-touched:focus {
	border:2px solid #d90000;
	background: url('../images/field_invalid.png') 98% 50% no-repeat;
	padding-right: 3%;
}
input.ng-valid.ng-valid-required.ng-touched,
input.ng-valid.ng-valid-required.ng-touched:focus {
    border:2px solid #008937;
    background: url('../images/field_valid.png') 98% 50% no-repeat;
    padding-right: 3%;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="tel"]:disabled,
input[type="number"]:disabled{
	//background-color: #dfe0e1 !important;
	border: 1px solid #dfe0e1;
}

.signup{
  	input:focus{
  		border: 2px solid #dfe0e1;
  	}
}

textarea.autoresize,
form.form-block.view-mode textarea[readonly="readonly"]{
  min-height: 2px;
  resize: none;
  overflow: hidden !important;
}

form.form-block.view-mode textarea.importanceCollection,
form.form-block.edit-mode textarea.importanceCollection{
  height: 230px;
  overflow: auto !important;
}

a.btn-transparent{
  background-color: transparent;
  border:none;
}

.navbar-form button.btn-transparent{
  background-color: transparent;
  border:none;
}

a.btn-transparent{
  background: transparent!important;
  border:none!important;
  color: #666666!important;
}

a.btn-transparent:hover{
  background-color: #33a15f!important;
}

.navbar-form button.btn-white{
  background-color:#fff;
  color:#666666!important;
}

#collection-bar-fixed {
  div.container {
	form.navbar-form{
	  padding-top:12px;
	}
  }
}

button.btn-tag{
  cursor:default;
  color:#666666!important;
	background-color: #F2F2F2 !important;
}
.default-form-block .form-control{
  background-color:transparent!important;
  border:none;
}
a.btn.cancel{
  color:$green!important;
}

.btn-small-delete{
  margin-top:3px;
  color: $green!important;
  border:solid 1px $green;
  width:38px;
  height:29px;
  padding:2px 13px 0px;
}

.btn-small-add{
  margin-top:2px;
  height: 32px!important;
  padding: 2px 10px 0 10px!important;
  text-align:center!important;
  line-height:30px!important;
}

.btn-sm{
  height: 30px!important;
  padding: 0px 10px!important;
  line-height: 30px!important;
  box-shadow: none;
  color: #fff !important;
  font-weight: 500;
  font-size: 12px!important;
  text-align: center;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0px;
  margin-top:3px;
}

.small-bt-header{
  padding: 1px 5px 0 4px!important; ;
  width:30px!important;
}

ul.pagination > li[title="First Page"] {
  display:none!important;
}
ul.pagination > li[title="Last Page"] {
  display:none!important;
}

form.simple-pagination > span > a.btn.btn-default{
  border: solid 3px #008937!important;
  color: #008937;
}

form.simple-pagination > span.disabled > button[disabled="disabled"].btn.btn-default{
  border: solid 3px #ABD8BD!important;
  color: #ABD8BD!important;
}

form.simple-pagination > div.form-group{
  margin-right:10px;
}

.read-more {
	width: 480px !important;
	text-align: justify !important;
	margin-left: 10px !important;
	font-family: 'Libre Baskerville', serif;font-size: 14px !important;
	padding: 10 !important;
}

.read-more-search {
	width: 100% !important;
	text-align: justify !important;
	font-family: 'Libre Baskerville', serif;font-size: 14px !important;
	padding-bottom: 10px;
}

.read-more-link {
	color: #33A15F;
	text-decoration: none;
	font-weight: bold;
}

form#taxonomy_sample_form > div > div.form-group{
  width:70%;
  border-bottom: solid 1px #EAEAEA;
}

form#taxonomy_sample_form > div > div.form-group > div > input.form-control[readonly="readonly"]{
  text-align:right;
  font-weight:bold;
  padding-top:0;
  padding-right: 0;
}
form#taxonomy_sample_form > div > div.form-group > label.col-sm-4{
  margin-left:-12px!important;
}
form#taxonomy_sample_form > div.small-field > div.form-group > div.col-sm-9{
  padding-right:0;
}