<sBRAZILIANass="l-main">

    <section class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-1"> </div>
                <div class="col-md-12"><h2 class="text-center">{{ 'BRAZILIAN_COLLECTIONS_DATABASE' | translate }}
                    <strong>&nbsp;</strong></h2></div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">

                    <div align="center">
                        <form class="form-inline" ng-submit="search()">
                            <div class="form-group">
                                <div align="left" class="form-group">
                                    <angucomplete-alt id="searchTop"
                                                      placeholder="{{ 'SEARCH' | translate }}"
                                                      pause="150"
                                                      selected-object="searchSelectedFn"
                                                      remote-api-handler="searchAutocomplete"
                                                      title-field="name"
                                                      text-no-results="{{ 'NO_RESULTS_FOUND' | translate }}"
                                                      minlength="3"
                                                      input-changed="inputChangedFn"
                                                      input-class="form-control"/>
                                </div>
                                <div class="form-group" style="width: 120px;">
                                    <select select-wrap ng-model="searchType">
                                        <option value="collection" selected>{{ 'COLLECTION' | translate }}</option>
                                        <option value="institution">{{ 'INSTITUTION' | translate }}</option>
                                        <option value="network">{{ 'NETWORK' | translate }}</option>
                                        <option value="curator">{{ 'CURATOR' | translate }}</option>
                                        <option value="document">{{ 'DOCUMENT' | translate }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" style="cursor: pointer"><i class="fa fa-search"></i></button>
                                    <!--<button type="submit" class="btn btn-primary"  style="cursor: pointer" ng-disabled="isSearchEnabled()"><i class="fa fa-search"></i></button>-->
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-md-4">&nbsp;</div>
            </div>
        </div>
        <hr class="horizontal-line"/>
    </section>

    <home-map></home-map>

</section>
