<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8"><h3 translate="BRAZIL_BIODIVERSITY_COLLECTION"></h3></div>
            <div class="col-md-4">
                <div class="form-inline pull-right" style="margin-top: 35px;">
                    <div class="form-group">
                        <label class="form-group">Show only:&nbsp;&nbsp;</label>
                    </div>
                    <div class="form-group">
                        <select class="form-group" id="home-map-filter">
                            <option value="ALL" selected>All collections</option>
                            <option value="FAUNA">Fauna</option>
                            <option value="FLORA">Flora</option>
                            <option value="MICROORGANISMS">Microorganisms</option>
                            <option value="OTHERS">Others</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row" align="center"><map name="collections" height="500px" width="100%"/></div>
        <div class="clearfix"></div>

        <div class="row" align="center" style="margin-top: 10px;">
            <div class="col-xs-4" ng-repeat="col in collections.content">
                <div class="list-item" style="margin-top: 20px;">
                    <div class="col-md-1">
                            <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <strong class="fa-stack-1x text-primary" style="color: white;">{{$index + 1}}</strong>
                            </span>
                    </div>
                    <div class="col-md-11" style="text-align: left;">
                        <a data-ui-sref="collection({id:col.id})">
                            <label style="margin-left: 10px;">{{col.name}}</label>
                            <h6 style="margin-left: 10px;">{{col.institution.name}}</h6>
                        </a>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" align="center">
                <paging
                        page="collections.number + 1"
                        page-size="collections.size"
                        total="collections.totalElements"
                        paging-action="load(page - 1)"
                        text-next="{{ 'NEXT' | translate}}"
                        text-prev="{{ 'PREVIOUS' | translate}}"
                        scroll-top="true"
                        show-prev-next="true"
                        show-first-last="true">
                </paging>
        </div>


    </div>
    <hr class="horizontal-line"/>
</section>