<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-2"><h5 class="collection section-header"><strong>{{ 'COLLECTIONS' | translate }}</strong></h5></div>
            <div class="col-md-8">
                <img src="images/network_collections.png" style="width: 100%;"/>
            </div>

            <div class="col-md-4">
                <!--<collection-image></collection-image>-->
            </div>
        </div>

        <hr/>
    </div>

</section>
