<section class="page-content" edit-form="{{editMode}}">

    <!-- Loading screen -->
    <div id="loader-wrapper" class="loading">
        <div id="loader"></div>
    </div>

    <div class="container">
        <nav id="network-bar-fixed" style="display: none" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <h2 class="navbar-text"><strong>{{'EDIT_NETWORK' | translate}}</strong></h2>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-transparent btn-edit-network-cancel save-form cancel"><strong>{{'CANCEL' | translate}}</strong></button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-white save-form" ng-disabled="network_form.$invalid"><strong>{{'SAVE_CHANGES' | translate}}</strong></button>
                    </div>
                </form>
            </div>
        </nav>
        <h4 id="network-bar-default">
            <strong ng-show="!editMode" >{{ network.name }}</strong>
            <strong ng-show="editMode" >{{ 'EDIT_NETWORK' | translate }}</strong> <span>
            <button ng-show="!editMode" class="btn btn-small btn-tag"><strong>{{ 'NETWORK'| translate}}</strong></button></span>

            <a ng-show="!editMode" id="edit-network" class="btn btn-small btn-primary pull-right edit-form"><strong>{{ 'EDIT' | translate }}</strong></a>
            <a ng-show="editMode" class="btn btn-small btn-primary pull-right btn-white save-form" ng-disabled="network_form.$invalid"><strong>{{ 'SAVE_CHANGES' | translate }}</strong></a>
            <a ng-show="editMode" class="btn btn-small btn-primary pull-right btn-transparent cancel btn-edit-network-cancel save-form"><strong>{{ 'CANCEL' | translate }}</strong></a>
        </h4>
        <hr/>
    </div>

    <div class="container">
         <div class="row">
             <div class="col-md-8">
                 <form action="#" class="form-horizontal form-block form-data" role="form" name="network_form" novalidate>
                     <div class="small-field">

                         <div ng-show="!editMode" id="network-id" class="form-group">
                             <label class="col-sm-3">{{ 'NETWORK_ID' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" value="{{network.id}}"></div>
                         </div>

                         <div ng-show="editMode" id="network-name" class="form-group">
                             <label class="col-sm-3">{{ 'NAME' | translate }} *</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="network.name" required></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'DESCRIPTION' | translate  }}</label>
                             <div class="col-sm-9">
                                 <textarea elastic type="text" class="form-control" data-ng-model="network.description" ></textarea>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'BOARD_MEMBERS' | translate }}</label>
                             <div class="col-sm-9">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="member in network.boardMembers" on-finish-render="ngRepeatFinished">
                                            <td><input type="text" class="form-control" data-ng-model="member.name" ></td>
                                            <td>&nbsp;&nbsp;<a ng-show="editMode" type="button" style="float: right"  class="btn-small-delete" ng-click="deleteMember($index);"><i class="fa fa-close"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-show="editMode">
                                        <tr>
                                            <td><input type="text" data-ng-model="member.name" class="form-control"></td>
                                            <td>&nbsp;&nbsp;<a style="float: right" id="add-member" type="button" class="pull-right btn btn-small-add btn-primary" ng-click="addMember();"><label>{{ 'ADD' | translate }}</label></a></td>
                                        </tr>
                                    </tfoot>
                                </table>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3"><em style="font-weight: 100">* {{ 'REQUIRED_FIELDS' | translate }}</em></label>
                             <div class="col-sm-9">&nbsp;</div>
                         </div>
                     </div>
                 </form>
             </div>

             <div class="col-md-4">
                 <images-box title="Add new photo" images="network.images"></images-box>
             </div>
         </div>
        <hr/>
    </div>
</section>