<section class="page-content" edit-form="{{editMode}}">

    <!-- Loading screen -->
    <div id="loader-wrapper" class="loading">
        <div id="loader"></div>
    </div>

    <div class="container">
        <nav id="collection-bar-fixed" style="display: none" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <h2 ng-show="!isNew" class="navbar-text"><strong>{{'EDIT_COLLECTION' | translate}}</strong></h2>
                <h2 ng-show="isNew" class="navbar-text"><strong>{{'NEW_COLLECTION' | translate}}</strong></h2>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-transparent btn-edit-collection-cancel save-form cancel"><strong>{{'CANCEL' | translate}}</strong></button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-white save-form" ng-disabled="!collection_form.$valid"><strong>{{'SAVE_CHANGES' | translate}}</strong></button>
                    </div>
                </form>
            </div>
        </nav>
        <h3 id="collection-bar-default">
                <strong ng-show="!editMode" >{{ collection.name }}</strong>
                <strong ng-show="editMode && !isNew" >{{'EDIT_COLLECTION' | translate}}</strong> <span>
                <strong ng-show="editMode && isNew" >{{'NEW_COLLECTION' | translate}}</strong> <span>
                <button ng-show="!editMode" class="btn btn-small btn-tag"><strong>{{ 'COLLECTIONS'| translate}}</strong></button></span>

            <a ng-show="!editMode && logged" id="edit-collection" class="btn btn-small btn-primary pull-right edit-form"><strong>{{'EDIT' | translate}}</strong></a>
            <a ng-show="editMode" class="btn btn-small btn-primary pull-right btn-white save-form" ng-disabled="!collection_form.$valid"><strong>{{'SAVE_CHANGES' | translate}}</strong></a>
            <a ng-show="editMode" class="btn btn-small btn-primary pull-right btn-transparent save-form cancel btn-edit-collection-cancel"><strong>{{'CANCEL' | translate}}</strong></a>
        </h3>

        <hr/>
    </div>


    <div class="container">
         <div class="row">
             <div class="col-md-8">
                 <form action="#" class="form-horizontal form-block form-data" role="form" name="collection_form" novalidate >
                     <div class="small-field">

                         <div ng-show="!editMode" id="collection-id" class="form-group">
                             <label class="col-sm-3">{{ 'COLLECTION_ID' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" value="{{collection.id}}"></div>
                         </div>

                         <div ng-show="editMode" id="collection-name" class="form-group">
                             <label class="col-sm-3">{{ 'NAME' | translate }} *</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="collection.name" required></div>
                         </div>

                         <div ng-show="!editMode"  class="form-group">
                             <label class="col-sm-3">{{ 'CURATOR' | translate }}</label>
                             <div class="col-sm-9"><strong><a style="margin-left: 10px;" data-ui-sref="curator({id : collection.curator.id})">{{collection.curator.name}}</a></strong></div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3">{{ 'CURATOR' |  translate }}</label>
                             <div class="col-sm-9">
                                 <angucomplete-alt id="curators"
                                               placeholder="Search an Curator"
                                               pause="150"
                                               selected-object="curatorSelectedFn"
                                               remote-api-handler="curatorAutocomplete"
                                               title-field="name"
                                               minlength="0"
                                               initial-value="curatorSelected"
                                               input-class="form-control"/>
                                </div>
                         </div>

                         <div ng-show="!editMode"  class="form-group">
                             <label class="col-sm-3">{{ 'INSTITUTION' | translate }}</label>
                             <div class="col-sm-9"><strong><a style="margin-left: 10px;" data-ui-sref="institution({id : collection.institution.id})">{{collection.institution.name}}</a></strong></div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3">{{ 'INSTITUTION' | translate  }}</label>
                             <div class="col-sm-9">
                                 <angucomplete-alt id="institution"
                                                   placeholder="Search an Institution"
                                                   pause="150"
                                                   selected-object="institutionSelectedFn"
                                                   remote-api-handler="institutionAutocomplete"
                                                   title-field="name"
                                                   minlength="0"
                                                   initial-value="institutionSelected"
                                                   input-class="form-control"/>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'INSTITUTION_TYPE' | translate }}</label>
                             <div class="col-sm-9">
                                 <select select-wrap class="form-control" ng-model="collection.institutionType">
                                     <option value="STATE" selected>{{ 'INSTITUTION_STATE' | translate }}</option>
                                     <option value="COUNTRY">{{ 'INSTITUTION_COUNTRY' | translate }}</option>
                                     <option value="PRIVATE">{{ 'INSTITUTION_PRIVATE' | translate }}</option>
                                     <option value="FEDERAL">{{ 'INSTITUTION_FEDERAL' | translate }}</option>
                                 </select>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'ORGANISM_TYPE' | translate }}</label>
                             <div class="col-sm-9">
                                 <select select-wrap class="form-control" ng-model="collection.collectionDefinition">
                                     <option value="FAUNA" selected>{{ 'FAUNA' | translate }}</option>
                                     <option value="FLORA">{{ 'FLORA' | translate }}</option>
                                     <option value="MICROORGANISMS">{{ 'MICROORGANISMS' | translate }}</option>
                                     <option value="FUNGI">{{ 'FUNGI' | translate }}</option>
                                     <option value="OTHERS">{{ 'OTHERS' | translate }}</option>
                                 </select>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'DESCRIPTION' | translate  }}</label>
                             <div class="col-sm-9">
                                 <textarea ng-show="editMode" elastic type="text" class="form-control" data-ng-model="collection.description" ></textarea>
                                 <p ng-show="!editMode" read-more class="read-more" ellipsis="..." content="{{collection.description}}"
                                    limit="250" more-text="{{'READ_MORE' | translate}}" less-text="{{'LESS_TEXT' | translate}}"></p>
                             </div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3">{{ 'VISIBILITY' | translate  }}</label>
                             <div class="col-sm-9">
                                 <input type="radio" id="unpublished" name="visibility" data-ng-model="collection.published" ng-value="false" checked>
                                    <label style="font-weight: normal;" for="unpublished">&nbsp;Unpublished</label><br/>
                                 <input type="radio" id="published" name="visibility" data-ng-model="collection.published" ng-value="true">
                                    <label style="font-weight: normal;" for="published">&nbsp;Published</label>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'PRESERVATION_METHODS' |  translate }}</label>
                             <div class="col-sm-9">
                                 <textarea ng-show="editMode" elastic type="text" class="form-control" data-ng-model="collection.preservationMethods"></textarea>
                                 <p ng-show="!editMode" read-more class="read-more" ellipsis="..." content="{{collection.preservationMethods}}"
                                    limit="250" more-text="{{'READ_MORE' | translate}}" less-text="{{'LESS_TEXT' | translate}}"></p>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'RESEARCHES' | translate }}</label>
                             <div class="col-sm-9">

                                 <span class="clearfix" ng-repeat="researcher in collection.researchers track by $index" on-finish-render="ngRepeatFinished">
                                     <input ng-show="!editMode" type="text" class="form-control" data-ng-model="researcher.name" maxlength="255" readonly>
                                     <input ng-show="editMode" style="width: 90%" type="text" tabindex="2" class="form-control pull-left" data-ng-model="researcher.name" maxlength="255">
                                    <a ng-show="editMode" ng-click="deleteResearch($index);" class="btn-link-primary btn-right-side pull-right " style="left: -9px"><i class="fa fa-close"></i>&nbsp;</a>
                                </span>

                                 <span ng-show="editMode" class="clearfix small-field">
                                    <input style="width: 75%" type="text" tabindex="2" class="form-control pull-left" data-ng-model="researcher.name" maxlength="255">
                                    <a ng-show="editMode" ng-click="addResearcher();" class="btn-right-side pull-right" style="color: #fff;border: 0;background-color:  #008937;left: -14px">{{ 'ADD' | translate}}</a>
                                </span>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'ASSOCIATED_MEMBERS' | translate }}</label>
                             <div class="col-sm-9">
                                 <table>
                                     <tbody>
                                         <tr ng-repeat="member in collection.associatedMembers" on-finish-render="ngRepeatFinished">
                                             <td><input type="text" class="form-control" data-ng-model="member.name" readonly></td>
                                         </tr>
                                     </tbody>
                                 </table>
                                 <strong><a data-ui-sref="member({ id: collection.id })" style="cursor: pointer;margin-left: 11px">{{ 'ASSOCIATED_MEMBERS_PAGE' | translate }}</a></strong>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'CURATORIAL_UNIT_LODGE' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="collection.curatorialLodge"></div>
                         </div>

                         <div ng-show="!editMode" class="form-group">
                             <label class="col-sm-3">{{ 'COLLECTION_WEBSITE' | translate }}</label>
                             <div class="col-sm-9">
                                 <strong><a ng-show="collection.webSite != null && collection.webSite != ''" style="margin-left: 10px;" href="{{collection.webSite}}" target="_blank">{{ collection.webSiteName }}&nbsp;<i class="fa fa-external-link-square"></i></a></strong>
                             </div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3">{{ 'COLLECTION_WEBSITE' | translate }}</label>
                             <div class="col-sm-9">
                                 <span><em>{{ 'TITLE' | translate }}</em></span>
                                 <input type="text" class="form-control" data-ng-model="collection.webSiteName">
                                 <span><em>{{ 'URL' | translate }}</em></span>
                                 <input type="text" class="form-control" data-ng-model="collection.webSite">
                             </div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3"><em style="font-weight: 100">* {{ 'REQUIRED_FIELDS' | translate }}</em></label>
                             <div class="col-sm-9">&nbsp;</div>
                         </div>

                     </div>
                 </form>
             </div>

             <div class="col-md-4">
                 <images-box title="Change Collection Photo" images="collection.images"></images-box>
             </div>

         </div>

        <hr/>


    </div>
</section>