<section class="page-content" edit-form>

    <div class="container">
        <nav id="collection-bar-fixed" style="display: none" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <h2 class="navbar-text"><strong>Edit Collection</strong></h2>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-transparent btn-edit-collection-cancel save-form"><strong>Cancel</strong></button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-white save-form"><strong>Save Changes</strong></button>
                    </div>
                </form>
            </div>
        </nav>
        <h4 id="collection-bar-default">

                <strong ng-show="!editMode" class="collection-default-mode">{{ collection.name }}</strong>
                <strong ng-show="editMode" class="collection-edit-mode">Edit Collection</strong> <span>
                <button ng-show="!editMode" class="btn btn-small btn-tag collection-default-mode"><strong>{{ 'COLLECTIONS'| translate}}</strong></button></span>

            <a id="edit-collection" class="btn btn-small btn-primary pull-right edit-form"><strong>Edit</strong></a>
            <a class="btn btn-small btn-primary pull-right btn-white save-form"><strong>Save Changes</strong></a>
            <a class="btn btn-small btn-primary pull-right btn-transparent save-form btn-edit-collection-cancel"><strong>Cancel</strong></a>
        </h4>

        <hr/>
    </div>


    <div class="container">
         <div class="row">
             <div class="col-md-8">
                 <form action="#" class="form-horizontal view-mode form-block" role="form">
                     <div class="small-field">

                         <div ng-show="!editMode" id="collection-id" class="form-group">
                             <label class="col-sm-3">{{ 'COLLECTION_ID' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" value="{{collection.id}}"></div>
                         </div>

                         <div ng-show="editMode" id="collection-name" class="form-group">
                             <label class="col-sm-3">{{ 'NAME' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="collection.name"></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'CURATOR' |  translate }}</label>
                             <div class="col-sm-9">
                                 <angucomplete-alt id="curators"
                                               placeholder="Search an Curator"
                                               pause="150"
                                               selected-object="curatorSelectedFn"
                                               remote-api-handler="curatorAutocomplete"
                                               remote-url-data-field="_embedded.curators"
                                               title-field="name"
                                               minlength="2"
                                               initial-value="curatorSelected"
                                               disable-input="disableAutocomplete"
                                               input-class="form-control"/>
                                </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'INSTITUTION' | translate  }}</label>
                             <div class="col-sm-9">
                                 <angucomplete-alt id="institution"
                                                   placeholder="Search an Intitution"
                                                   pause="150"
                                                   selected-object="institutionSelectedFn"
                                                   remote-api-handler="institutionAutocomplete"
                                                   remote-url-data-field="_embedded.institutions"
                                                   title-field="description"
                                                   minlength="2"
                                                   initial-value="institutionSelected"
                                                   disable-input="disableAutocomplete"
                                                   input-class="form-control"/>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'DESCRIPTION' | translate  }}</label>
                             <div class="col-sm-9">
                                 <textarea elastic type="text" class="form-control" data-ng-model="collection.description"></textarea>
                             </div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3">{{ 'VISIBILITY' | translate  }}</label>
                             <div class="col-sm-9">
                                 <input type="radio" name="visibility" data-ng-model="collection.published" ng-value="false">&nbsp;Unpublished<br/>
                                 <input type="radio" name="visibility" data-ng-model="collection.published" ng-value="true">&nbsp;Published
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'PRESERVATION_METHODS' |  translate }}</label>
                             <div class="col-sm-9">
                                 <textarea elastic type="text" class="form-control" data-ng-model="collection.preservationMethods"></textarea>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'RESEARCHES' | translate }}</label>
                             <div class="col-sm-9">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="researcher in collection.researchers" on-finish-render="ngRepeatFinished">
                                            <td><input type="text" class="form-control" data-ng-model="researcher.name" ></td>
                                            <td>&nbsp;&nbsp;<a ng-show="editMode" type="button" style="float: right"  class="btn-small-delete" ng-click="deleteResearch($index);"><i class="fa fa-close"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-show="editMode">
                                        <tr>
                                            <td><input type="text" data-ng-model="researcher.name" class="form-control"></td>
                                            <td>&nbsp;&nbsp;<a style="float: right" id="add-synonym" type="button" class="pull-right btn btn-small-add btn-primary" ng-click="addResearcher();">{{ 'ADD' | translate }}</a></td>
                                        </tr>
                                    </tfoot>
                                </table>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'CURATORIAL_UNIT_LODGE' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="collection.curatorialLodge"></div>
                         </div>

                         <div ng-show="!editMode" class="form-group">
                             <label class="col-sm-3">{{ 'COLLECTION_WEBSITE' | translate }}</label>
                             <div class="col-sm-9">
                                 <a href="{{collection.webSite}}" target="_blank">{{ collection.webSiteName }}</a>
                             </div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3">{{ 'COLLECTION_WEBSITE' | translate }}</label>
                             <div class="col-sm-9">
                                 <span><em>{{ 'TITLE' | translate }}</em></span>
                                 <input type="text" class="form-control" data-ng-model="collection.webSiteName">
                                 <span><em>{{ 'URL' | translate }}</em></span>
                                 <input type="text" class="form-control" data-ng-model="collection.webSite">
                             </div>
                         </div>

                     </div>
                 </form>
             </div>

             <div class="col-md-4">
                 <collection-image></collection-image>
             </div>

         </div>

        <hr/>


    </div>
</section>