<section class="page-content" >

    <div class="container">
        <h3><strong>{{ collection.name }}</strong> <span><a class="btn btn-small btn-primary">{{ 'COLLECTIONS'| translate}}</a></span></h3>
    </div>

    <div class="container">
         <div class="row">
             <div class="col-md-8">
                 <form action="#" class="form-horizontal view-mode" role="form">
                     <div class="small-field">

                         <div class="form-group ">
                             <label class="col-sm-3">{{ 'COLLECTION_ID' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" value="{{id}}"></div>
                         </div>

                         <div class="form-group ">
                             <label class="col-sm-3">{{ 'NAME' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="collection.name"></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'CURATOR' |  translate }}</label>
                             <div class="col-sm-9">
                                 <angucomplete-alt id="curators"
                                               placeholder="Search an Curator"
                                               pause="150"
                                               selected-object="curators"
                                               remote-api-handler="curatorAutocomplete"
                                               remote-url-data-field="_embedded.curators"
                                               title-field="name"
                                               minlength="2"
                                               input-class="form-control"/>
                                </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'INSTITUTION' | translate  }}</label>
                             <div class="col-sm-9"><span>{{ collection.institution.name }}</span></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">Description</label>
                             <div class="col-sm-9"><textarea elastic type="text" class="form-control importanceCollection" data-ng-model="collection.description"></textarea></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'PRESERVATION_METHODS' |  translate }}</label>
                             <div class="col-sm-9"><textarea elastic type="text" class="form-control importanceCollection" data-ng-model="collection.preservationMethods"></textarea></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'RESEARCHES' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control"></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'CURATORIAL_UNIT_LODGE' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="collection.curatorialLodge"></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'COLLECTION_WEBSITE' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="collection.website"></div>
                         </div>
                     </div>
                 </form>
             </div>

             <div class="col-md-4">
                 <img class="img-responsive img-thumbnail" src="images/empty_img.png" style="max-width: 100%;, height: auto;">
             </div>

         </div>

        <hr/>


    </div>
</section>
