<section class="page-content">
    <div class="container">

        <div class="row">
            <div class="col-md-2"><h5 class="collection section-header"><strong>{{ 'NETWORKS' | translate }}</strong></h5></div>
            <div class="col-md-10">
                <table class="table table-hover network">
                    <thead>
                    <tr>
                        <th width="80%">&nbsp;</th>
                        <th width="15%">&nbsp;</th>
                        <th ng-show="editMode" width="10px">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="network in networks.content">
                            <td>
                                <p class="text-left small"><strong>{{network.name}}  | id: {{network.id}}</strong><p>
                                <p class="text-justify small">{{network.description}}</p>
                            </td>
                            <td>
                                <image-thumbnail width="78" height="44" attachment="network.image.attachment.id" ></image-thumbnail>
                            </td>
                            <td ng-show="editMode" class="btn-td"><a class="btn"><i class="fa fa-close"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div ng-show="editMode" class="row network-collection-form">
            <div class="small-field">
                <form class="form-inline view-mode form-block">
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">{{ 'ADD' | translate }}</button>
                    <div class="form-group form-divider">
                       <label><a class="btn-link-primary">{{ 'CREATE_A_NEW_NETWORK' | translate}}</a></label>
                    </div>
                </form>
            </div>
            <hr/>
        </div>
        <div class="row">
            <div class="pull-right">
                <form class="form-inline">
                    <div class="form-group">
                        <label>{{ 'ROWS_PER_PAGE' | translate }}</label>
                    </div>
                    <div class="form-group" style="width: 100px">
                        <div class="select-wrapper">
                            <select class="col-md-5" id="network-size-box">
                                <option value="5" selected>5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{networks.number + 1}} {{ 'OF' | translate }} {{networks.totalPages}}</label>
                    </div>

                    <span  ng-class="{disabled: networks.number === 0}">
                        <a type="submit" class="btn btn-default" ng-show="networks.number !== 0" ng-click="paginateNetworks(networks.number - 1,networks.size)"><strong style="color: #666"> < </strong></a>
                        <button  disabled="disabled" class="btn btn-default" class="page-not-active" ng-show="networks.number === 0"><strong style="color: #666"> < </strong></button>
                    </span>
                    <span ng-class="{disabled: networks.number === networks.totalPages - 1}">
                        <a type="submit" class="btn btn-default" ng-show="networks.number !== networks.totalPages - 1" ng-click="paginateNetworks(networks.number + 1,networks.size)"><strong style="color: #666"> > </strong></a>
                        <button disabled="disabled" class="btn btn-default" ng-show="networks.number === networks.totalPages - 1"><strong style="color: #666"> > </strong></button>
                    </span>

                </form>
            </div>
        </div>


    </div>
</section>