<section class="page-content" edit-form="{{editMode}}">
    <div class="container">

        <div class="row">
            <div class="col-md-2"><h5 class="collection section-header"><strong>{{ 'SAMPLES' | translate }}</strong>
            </h5></div>
            <div class="col-md-8">
                <table class="table table-hover sample-table">
                    <thead>
                        <tr>
                            <th>{{ 'SAMPLE' | translate }}</th>
                            <th>{{ 'ID' | translate }}</th>
                            <th>&nbsp;</th>
                            <th ng-show="editMode" width="5%" class="btn-td no-sorter"><strong><a ng-disabled="!checkboxCount > 0" ng-click="deleteAll()" class="btn"><i class="fa fa-close"></i></a></strong></th>
                            <th class="no-sorter" ng-show="editMode" width="5%"><input ng-click="checkAndUnCheckAll()" type="checkbox" id="checkbox-all" /></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sample in samples.content">
                        <td width="60%"><a data-ui-sref="sample({id : sample.id})">{{ sample.name }}</a></td>
                        <td width="20%"><a data-ui-sref="sample({id : sample.id})">{{ sample.id }}</a></td>
                        <td width="10%"><image-thumbnail width="50" height="50" attachment="sample.image.attachment.id" ><image-thumbnail attachment="sample.image.attachment"></image-thumbnail></td>
                        <td ng-show="editMode" class="btn-td"><a class="btn delete-sample" ng-click="removeSample(sample.id)"><i class="fa fa-close"></i></a></td>
                        <td ng-show="editMode"><input class="sample-checkbox-delete" data-sample-id="{{sample.id}}" ng-click="singleCheckBoxEvent($event)" type="checkbox" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">
                <div class="row">
                    <div class="pull-left"><a ng-show="editMode" style="margin-left: 12px;" class="btn btn-small-add btn-primary" ng-click="addNewSample()"><label>{{'ADD_NEW_SAMPLE' | translate}}</label></a></div>
                    <div class="pull-right" ng-show="samples.totalPages > 1">
                        <form class="form-inline small-field simple-pagination">

                            <div class="form-group">
                                <span>{{ 'ROWS_PER_PAGE' | translate }}:&nbsp;</span>
                            </div>
                            <div class="form-group" style="width: 100px">
                                <div class="select-wrapper">
                                    <select class="col-md-5" id="sample-size-box">
                                        <option value="5" selected>5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <span ng-if="(samples.size * (samples.number + 1)) < samples.totalElements"><b>{{(samples.number * samples.size) + 1}}-{{samples.size * (samples.number + 1)}}</b> {{ 'OF' | translate }} {{samples.totalElements}}</span>
                                <span ng-if="(samples.size * (samples.number + 1)) > samples.totalElements"><b>{{(samples.number * samples.size) + 1}}-{{samples.totalElements}}</b> {{ 'OF' | translate }} {{samples.totalElements}}</span>
                            </div>

                            <div class="form-group">
                                <span ng-class="{disabled: samples.number === 0}">
                                    <a type="submit" class="btn btn-default small small-bt-header" ng-show="samples.number !== 0"
                                       ng-click="paginateSample(samples.number - 1,samples.size)"><strong style="color: #666"> &lt; </strong></a>
                                    <button disabled="disabled" class="btn btn-default small small-bt-header" class="page-not-active"
                                            ng-show="samples.number === 0"><strong style="color: #666"> &lt; </strong></button>
                                </span>
                                <span ng-class="{disabled: samples.number === samples.totalPages - 1}">
                                    <a type="submit" class="btn btn-default small small-bt-header" ng-show="samples.number !== samples.totalPages - 1"
                                       ng-click="paginateSample(samples.number + 1,samples.size)"><strong style="color: #666"> &gt; </strong></a>
                                    <button disabled="disabled" class="btn btn-default small small-bt-header"
                                            ng-show="samples.number === samples.totalPages - 1"><strong style="color: #666"> &gt; </strong>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr/>
    </div>
</section>
