<section class="page-content">
    <div class="container">

        <div class="row">
            <div class="col-md-2"><h5 class="collection section-header"><strong>{{ 'SAMPLES' | translate }}</strong>
            </h5></div>
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'SAMPLE' | translate }}</th>
                        <th>{{ 'ID' | translate }}</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sample in samples.content">
                        <td>{{ sample.name }}</td>
                        <td>{{ sample.id }}</td>
                        <td><img src="images/icons/toast-info.png"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="pull-right">
                <form class="form-inline">
                    <div class="form-group">
                        <label>{{ 'ROWS_PER_PAGE' | translate }}</label>
                    </div>
                    <div class="form-group" style="width: 100px">
                        <div class="select-wrapper">
                            <select class="col-md-5" id="sample-size-box">
                                <option value="5" selected>5</option>
                                <option value="5">10</option>
                                <option value="5">15</option>
                                <option value="5">20</option>
                                <option value="5">25</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{page.number + 1}} {{ 'OF' | translate }} {{page.totalPages}}</label>
                    </div>

                    <span ng-class="{disabled: page.number === 0}">
                        <a type="submit" class="btn btn-default" ng-show="page.number !== 0"
                           ng-click="paginate(page.number - 1,page.size)"><strong style="color: #666"> < </strong></a>
                        <button disabled="disabled" class="btn btn-default" class="page-not-active"
                                ng-show="page.number === 0"><strong style="color: #666"> < </strong></button>
                    </span>
                    <span ng-class="{disabled: page.number === page.totalPages - 1}">
                        <a type="submit" class="btn btn-default" ng-show="page.number !== page.totalPages - 1"
                           ng-click="paginate(page.number + 1,page.size)"><strong style="color: #666"> > </strong></a>
                        <button disabled="disabled" class="btn btn-default"
                                ng-show="page.number === page.totalPages - 1"><strong style="color: #666"> > </strong>
                        </button>
                    </span>

                </form>
            </div>
          </div>
        <hr/>
    </div>
</section>
