<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-2"><h5 class="collection section-header"><strong>{{ 'SPECIMENS' | translate }}</strong></h5></div>
            <div class="col-md-2"><h6><strong>{{ 'ESTIMATED_SPECIMENS_IN_COLLECTIONS' | translate }}</strong></h6></div>
            <div class="col-md-2"><h6><strong>102 {{ 'SPECIMENS' | translate }}</strong></h6></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'TYPE' | translate }}</th>
                        <th>{{ 'COUNT_OF_TYPE' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Faucibus orci luctus</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Faucibus orci luctus</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Faucibus orci luctus</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Faucibus orci luctus</td>
                        <td>12</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
    </div>

</section>
