<html>
    <body>
        <h3>Olá ${username}!</h3>
        <div>
            Clique no link abaixo para trocar sua senha::
        </div>
        <div>
       	    <a href="${url}">${url}</a>
        </div>
        Atenciosamente,
        <div>
            Coleção de Biodiversidade
		</div>
    </body>
</html>