<div class="container">

    <h4 ng-if="curator.content != null"><strong>{{curator.totalElements}}</strong> {{ 'RESULT_FOR_CURATOR' | translate }}</h4>
    <h4 ng-if="curator.content == null">{{ 'SEARCHING_FOR_RESULTS' | translate }}</h4>

    <div class="result-list">

        <div ng-repeat="col in curator.content" class="list-item">
            <h5><strong><a data-ui-sref="curator({id:col.id})">{{col.name | trim}}</a></strong></h5>
            <p><strong>{{col.user.institution.name | trim}}</strong></p>
            <p ng-if="col.jobTitle.length > 360" style="height:2.7em; overflow:hidden; float: left;">{{col.jobTitle}}</p>
            <p ng-if="col.jobTitle.length <= 360">{{col.jobTitle}}</p>
        </div>

    </div>

    <div class="row" align="center">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8" align="center">
            <paging
                    page="curator.number + 1"
                    page-size="curator.size"
                    total="curator.totalElements"
                    paging-action="load(page - 1)"
                    text-next="{{ 'NEXT' | translate}}"
                    text-prev="{{ 'PREVIOUS' | translate}}"
                    scroll-top="true"
                    show-prev-next="true"
                    show-first-last="true">
            </paging>
        </div>
        <div class="col-md-2"><label class="pull-right" style="line-height: 79px; vertical-align: middle;">{{curator.totalElements}}&nbsp;results</label></div>
    </div>

</div>