<section class="l-main">
    <section class="page-content">
        <div class="container">
            <div class="row">
                <hr/>
                <ol class="breadcrumb">
                    <li><a href="#">{{ 'HOME' | translate }}</a></li>
                    <li><a href="#">{{ 'SEARCH_RESULTS' | translate }}</a></li>
                </ol>
                <hr/>
            </div>
        </div>
    </section>

    <section class="page-content">
        <div class="container">

            <h4><strong>234</strong> {{ 'RESULT_FOR_COLLECTION' | translate }}</h4>

            <div class="result-list">

                <div ng-repeat="col in collection._embedded.biodiversityCollections" class="list-item">
                    <h5><strong><a data-ui-sref="collection({id:col.id})">{{col.name}}</a></strong> | <span class="cend"><a data-ui-sref="collection({id:col.id})">id: {{col.id}}</a></span></h5>
                    <p><strong>National Official List of Endangered Fauna, Action Plan Alpha</strong></p>
                    <p>{{col.description}}</p>
                </div>

            </div>

            <div class="row" align="center">
                <hr/>
                <nav>
                    <ul class="pagination">
                        <li ng-class="{disabled: collection.page.number === 0}">
                            <a ng-click="(collection.page.number === 0) || load(collection.page.number - 1, collection.page.size)" aria-label="Previous">
                                <span aria-hidden="true">{{ 'PREVIOUS' | translate}}</span>
                            </a>
                        </li>
                        <li ng-class="{disabled: collection.page.number === collection.page.totalPages - 1}">
                            <a ng-click="load(collection.page.number + 1, collection.page.size)">{{collection.page.number + 1}}</a></li>
                        <li ng-class="{disabled: collection.page.number + 2 >= collection.page.totalPages - 1}">
                            <a ng-click="load(collection.page.number + 2, collection.page.size)">{{collection.page.number + 2}}</a></li>
                        <li ng-class="{disabled: collection.page.number + 3 >= collection.page.totalPages - 1}">
                            <a ng-click="load(collection.page.number + 3, collection.page.size)">{{collection.page.number + 3}}</a></li>
                        <li ng-class="{disabled: collection.page.number + 4 >= collection.page.totalPages - 1}">
                            <a ng-click="load(collection.page.number + 4, collection.page.size)">{{collection.page.number + 4}}</a></li>
                        <li ng-class="{disabled: collection.page.number + 5 >= collection.page.totalPages - 1}">
                            <a ng-click="load(collection.page.number + 5, collection.page.size)">{{collection.page.number + 5}}</a></li>
                        <li ng-class="{disabled: collection.page.number === collection.page.totalPages - 1}">
                            <a ng-click="(collection.page.number === collection.page.totalPages - 1) || load(collection.page.number + 1, collection.page.size)" aria-label="Next">
                                <span aria-hidden="true">{{ 'NEXT' | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </section>

</section>
