<div class="container">

    <h4><strong>{{document.totalElements}}</strong> {{ 'RESULT_FOR_CURATOR' | translate }}</h4>

    <div class="result-list">

        <div ng-repeat="doc in document.content" class="list-item">
            <h5><strong><a href="javascript:" ng-click="downloadDocument(doc.id)">{{doc.title}}</a></strong>&nbsp;|&nbsp;<a href="javascript:" ng-click="downloadDocument(doc.id)">id: {{doc.id}}</a></h5>
            <p><strong>{{doc.type}}</strong></p>
            <p>{{doc.description}}</p>
        </div>

    </div>

    <div class="row" align="center">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8" align="center">
            <paging
                    page="document.number + 1"
                    page-size="document.size"
                    total="document.totalElements"
                    paging-action="load(page - 1)"
                    text-next="{{ 'NEXT' | translate}}"
                    text-prev="{{ 'PREVIOUS' | translate}}"
                    scroll-top="true"
                    show-prev-next="true"
                    show-first-last="true">
            </paging>
        </div>
        <div class="col-md-2"><label class="pull-right" style="line-height: 79px; vertical-align: middle;">{{document.totalElements}}&nbsp;results</label></div>
    </div>


</div>