<div class="container">

    <h4 ng-if="document.content != null"><strong>{{document.totalElements}}</strong> {{ 'RESULT_FOR_DOCUMENT' | translate }}</h4>
    <h4 ng-if="document.content == null">{{ 'SEARCHING_FOR_RESULTS' | translate }}</h4>

    <div class="result-list">

        <div ng-repeat="doc in document.content" class="list-item">
            <h5><strong><a href="javascript:" ng-click="downloadDocument(doc.id)">{{doc.title | trim}}</a></strong></h5>
            <p><strong>{{doc.type}}</strong></p>
            <p class="read-more-search" hm-read-more hm-text="{{ doc.description }}"
               hm-limit="300" hm-more-text="Read more" hm-less-text="Read less" hm-dots-class="dots" hm-link-class="read-more-link">
            </p>
        </div>

    </div>
    <hr/>
    <div class="row" align="center">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8" align="center">
            <paging
                    page="document.number + 1"
                    page-size="document.size"
                    total="document.totalElements"
                    paging-action="load(page - 1)"
                    text-next="{{ 'NEXT' | translate}}"
                    text-prev="{{ 'PREVIOUS' | translate}}"
                    scroll-top="true"
                    show-prev-next="true"
                    show-first-last="true">
            </paging>
        </div>
        <div class="col-md-2"><label class="pull-right" style="line-height: 79px; vertical-align: middle;">{{document.totalElements}}&nbsp;results</label></div>
    </div>


</div>