<section class="page-content" edit-form="{{editMode}}">

    <!-- Loading screen -->
    <div id="loader-wrapper" class="loading">
        <div id="loader"></div>
    </div>

    <div class="container">
        <nav id="curator-bar-fixed" style="display: none" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <h2 class="navbar-text"><strong>{{'EDIT_CURATOR' | translate}}</strong></h2>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-transparent btn-edit-curator-cancel save-form cancel"><strong>{{'CANCEL' | translate}}</strong></button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-white save-form" ng-disabled="curator_details_form.$invalid || curator_contact_form.$invalid"><strong>{{'SAVE_CHANGES' | translate}}</strong></button>
                    </div>
                </form>
            </div>
        </nav>
        <h3 id="curator-bar-default">
            <strong ng-show="!editMode" >{{ curator.name }}</strong>
            <strong ng-show="editMode && !createCurator" >{{'EDIT_CURATOR' | translate}}</strong> <span>
            <strong ng-show="editMode && createCurator" >{{'NEW_CURATOR' | translate}}</strong> <span>
            <button ng-show="!editMode" class="btn btn-small btn-tag"><strong>{{ 'CURATOR'| translate}}</strong></button></span>

            <a ng-show="!editMode && logged" id="edit-curator" class="btn btn-small btn-primary pull-right edit-form"><strong>{{'EDIT' | translate}}</strong></a>
            <a ng-show="editMode && !createCurator" class="btn btn-small btn-primary pull-right btn-white save-form" ng-disabled="curator_details_form.$invalid || curator_contact_form.$invalid"><strong>{{'SAVE_CHANGES' | translate}}</strong></a>
            <a ng-show="editMode && !createCurator" class="btn btn-small btn-primary pull-right btn-transparent save-form cancel btn-edit-curator-cancel"><strong>{{'CANCEL' | translate}}</strong></a>
        </h3>

        <hr/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="#" class="form-horizontal form-block form-data" role="form" name="curator_details_form" novalidate>
                    <div class="small-field">

                        <div  class="form-group">
                            <label class="col-sm-3">{{ 'NAME' | translate }} *</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="curator.name" required></div>
                        </div>

                        <div ng-show="!editMode"  class="form-group">
                            <label class="col-sm-3">{{ 'INSTITUTION' | translate }}</label>
                            <div class="col-sm-9"><strong><a style="margin-left: 10px;" data-ui-sref="institution({id : curator.user.institution.id})">{{curator.user.institution.name}}</a></strong></div>
                        </div>

                        <div ng-show="editMode" class="form-group">
                            <label class="col-sm-3">{{ 'INSTITUTION' | translate  }}</label>
                            <div class="col-sm-9">
                                <angucomplete-alt id="institution"
                                                  placeholder="Search an Institution"
                                                  pause="150"
                                                  selected-object="institutionSelectedFn"
                                                  remote-api-handler="institutionAutocomplete"
                                                  title-field="name"
                                                  minlength="0"
                                                  initial-value="institutionSelected"
                                                  input-class="form-control"/>
                            </div>
                        </div>
                        <div  class="form-group">
                            <label class="col-sm-3">{{ 'JOB_TITLE' | translate }} *</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="curator.jobTitle" required></div>
                        </div>

                        <div  class="form-group">
                            <label class="col-sm-3">{{ 'AREA_OF_RESPONSIBILITY' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="curator.areaOfResponsibility"></div>
                        </div>

                        <div ng-show="!editMode"  class="form-group">
                            <label class="col-sm-3">{{ 'DATE_OF_BIRTH' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control" value="{{ curator.dateOfBirth | date: 'dd-MM-yyyy' }}" readonly></div>
                        </div>

                        <div ng-show="editMode"  class="form-group">
                            <label class="col-sm-3">{{ 'DATE_OF_BIRTH' | translate }}</label>
                            <div class="col-sm-9">
                                <div class="curator-date">
                                    <input type="text"  data-ng-model="curator.date.day" maxlength="2" ng-keypress="onlyNumber($event)">-
                                    <input type="text"  data-ng-model="curator.date.month" maxlength="2" ng-keypress="onlyNumber($event)">-
                                    <input type="text"  class="large" data-ng-model="curator.date.year" maxlength="4" ng-keypress="onlyNumber($event)">
                                </div>

                            </div>
                            <div class="clearfix">
                                <div style="display: block;margin-left: 210px"><em><small>eg. 10-10-1985</small></em></div>
                            </div>
                        </div>

                        <div  class="form-group">
                            <label class="col-sm-3">{{ 'RESEARCH_DISCIPLINE' | translate }}</label>
                            <div class="col-sm-9">
                                <textarea ng-show="editMode" elastic type="text" class="form-control" data-ng-model="curator.researchDiscipline" ></textarea>
                                <p ng-show="!editMode" read-more class="read-more" ellipsis="..." content="{{curator.researchDiscipline}}"
                                   limit="250" more-text="{{'READ_MORE' | translate}}" less-text="{{'LESS_TEXT' | translate}}"></p>
                            </div>
                        </div>

                        <div  class="form-group">
                            <label class="col-sm-3">{{ 'RESEARCH_SPECIALITY' | translate }}</label>
                            <div class="col-sm-9">
                                <textarea ng-show="editMode" elastic type="text" class="form-control" data-ng-model="curator.researchSpeciality"></textarea>
                                <p ng-show="!editMode" read-more class="read-more" ellipsis="..." content="{{curator.researchSpeciality}}"
                                   limit="250" more-text="{{'READ_MORE' | translate}}" less-text="{{'LESS_TEXT' | translate}}"></p>
                            </div>
                        </div>

                        <div  class="form-group" ng-if="(editMode && logged && ((userRole == 'CURATOR' && username == curator.user.username) || userRole == 'ADMIN')) || createCurator">
                            <label class="col-sm-3">{{ 'PASSWORD' | translate }} *</label>
                            <div class="col-sm-9"><input type="password" class="form-control" data-ng-model="curator.user.password" required></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">{{ 'ASSOCIATED_INSTITUTIONS' | translate }}</label>
                            <div class="col-sm-10">

                                <span class="clearfix" ng-repeat="institution in curator.associatedInstitutions track by $index" on-finish-render="ngRepeatFinished">
                                     <strong ng-show="!editMode"><a style="margin-left: 10px;" data-ui-sref="institution({id : institution.id})">{{institution.name}}</a></strong>
                                     <input ng-show="editMode" style="width: 90%" type="text" tabindex="2" class="form-control pull-left" data-ng-model="institution.name" maxlength="255">
                                    <a ng-show="editMode" ng-click="removeAssociatedInstitution($index);" class="btn-link-primary btn-right-side pull-right " style="left: -9px"><i class="fa fa-close"></i>&nbsp;</a>
                                </span>

                                <table>
                                    <tfoot ng-show="editMode">
                                        <tr>
                                            <td>
                                                <angucomplete-alt id="associatedInstitutionAtcl"
                                                                  placeholder="Search an Institution"
                                                                  pause="150"
                                                                  selected-object="associatedInstitutionSelected"
                                                                  remote-api-handler="institutionAutocomplete"
                                                                  title-field="name"
                                                                  minlength="0"
                                                                  input-class="form-control curator-institutions"/>
                                            </td>
                                            <td style="padding-left: 7px">
                                                <a style="float: right" id="add-synonym" type="button" class="pull-right btn btn-sm btn-primary" ng-click="addAssociatedInstitution();"><label>{{ 'ADD' | translate }}</label></a></td>
                                        </tr>
                                    </tfoot>
                                </table>


                            </div>
                        </div>


                        <div ng-show="editMode" class="form-group">
                            <label class="col-sm-3"><em style="font-weight: 100">* {{ 'REQUIRED_FIELDS' | translate }}</em></label>
                            <div class="col-sm-9">&nbsp;</div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <image-box title="CHANGE_CURATOR_PHOTO" image="{{curator.image}}" id="{{curator.image.attachment.id}}"></image-box>
            </div>
        </div>
        <hr/>
    </div>
</section>

<curator-contact></curator-contact>

<div class="container" ng-show="editMode && createCurator" edit-form="{{editMode}}">
    <h4>
        <a ng-show="editMode && createCurator" class="btn btn-small btn-primary pull-right btn-white save-form" ng-disabled="curator_details_form.$invalid || curator_contact_form.$invalid"><strong>{{'CREATE' | translate}}</strong></a>
        <a ng-show="editMode" class="btn btn-small btn-primary pull-right btn-transparent save-form cancel btn-edit-curator-cancel"><strong>{{'CANCEL' | translate}}</strong></a>
    </h4>
</div>