<div class="container">

    <div class="row">
        <br/>
        <table class="table">
            <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>
                    <div class="btn-group">
                        <button type="button" class="btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'ACTION' | translate }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:" >{{ 'EDIT' | translate }}</a></li>
                            <li><a href="javascript:"  ng-confirm-click="ARE_YOU_SURE">{{ 'DELETE' | translate }}</a></li>
                        </ul>
                    </div>
                </th>
                <th>{{ 'ID' | translate }}</th>
                <th>{{ 'NAME' | translate }}</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="institution in institutions.content">
                <td><input type="checkbox"></td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'ACTION' | translate }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:" >{{ 'EDIT' | translate }}</a></li>
                            <li><a href="javascript:"  ng-confirm-click="ARE_YOU_SURE">{{ 'DELETE' | translate }}</a></li>
                        </ul>
                    </div>
                </td>
                <td>{{ institution.id}}</td>
                <td>{{ institution.name}}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="pull-right" ng-show="institutions.totalPages > 1">
                <form class="form-inline">
                    <div class="form-group">
                        <label>{{ 'ROWS_PER_PAGE' | translate }}</label>
                    </div>
                    <div class="form-group" style="width: 100px">
                        <div class="select-wrapper">
                            <select class="col-md-5" id="user-size-box">
                                <option value="5" selected>5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{institutions.number + 1}} {{ 'OF' | translate }} {{ institutions.totalPages }}</label>
                    </div>

            <span ng-class="{disabled: institutions.number === 0}">
                <a type="submit" class="btn btn-default" ng-show="institutions.number !== 0"
                   ng-click="paginateInstitution(institutions.number - 1,institutions.size)"><strong style="color: #666"> &lt; </strong></a>
                <button disabled="disabled" class="btn btn-default" class="page-not-active"
                        ng-show="institutions.number === 0"><strong style="color: #666"> &lt; </strong></button>
            </span>
            <span ng-class="{disabled: institutions.number === institutions.totalPages - 1}">
                <a type="submit" class="btn btn-default" ng-show="institutions.number !== institutions.totalPages - 1"
                   ng-click="paginateInstitution(institutions.number + 1,institutions.size)"><strong style="color: #666"> &gt; </strong></a>
                <button disabled="disabled" class="btn btn-default"
                        ng-show="institutions.number === institutions.totalPages - 1"><strong style="color: #666"> &gt; </strong>
                </button>
            </span>

                </form>
            </div>
        </div>
    </div>
</div>