<section class="page-content">
    <div class="container">

        <div class="row">
            <div class="col-md-2"><h5 class="collection section-header"><strong>{{ 'COLLECTIONS' | translate }}</strong></h5></div>
            <div class="col-md-10">
                <table class="table table-hover network">
                    <tbody>
                    <tr ng-repeat="collection in collections.content">
                        <td width="80%">
                            <p class="text-left"><a data-ui-sref="collection({id : collection.id})"><strong>{{collection.name}}</strong>&nbsp;|&nbsp;id:&nbsp;{{collection.id}}</a><p>
                            <p class="read-more-search" hm-read-more hm-text="{{collection.description}}"
                               hm-limit="220" hm-more-text="Read more" hm-less-text="Read less" hm-dots-class="dots" hm-link-class="read-more-link">
                        </td>
                        <td width="15%">
                            <image-thumbnail width="110" height="84" attachment="collection.images[0].attachment.id" ></image-thumbnail>
                        </td>
                        <td ng-show="editMode" class="btn-td"><a class="btn small small-bt-header" ng-click="removeCollection(collection.id)"><i class="fa fa-close"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div ng-show="editMode" class="row network-collection-form">
            <div class="small-field">
                <form class="form-inline view-mode form-block">
                    <div class="form-group">
                        <angucomplete-alt id="institution_collection_autocomplete"
                                          placeholder="Search a Collection"
                                          pause="150"
                                          selected-object="collectionSelected"
                                          remote-api-handler="collectionAutocomplete"
                                          remote-url-data-field="content"
                                          title-field="name"
                                          minlength="0"
                                          input-class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" ng-click="addCollection()"><label>{{ 'ADD' | translate }}</label></button>
                    <div class="form-group form-divider">
                        <label><a href="javascript:" ng-click="createNewCollection()" class="btn-link-primary">{{ 'CREATE_A_COLLECTION' | translate}}</a></label>
                    </div>
                </form>
            </div>
            <hr/>
        </div>
        <div class="row">
            <div class="pull-right">
                <form class="form-inline small-field simple-pagination">
                    <div class="form-group">
                        <span>{{ 'ROWS_PER_PAGE' | translate }}</span>
                    </div>
                    <div class="form-group" style="width: 100px">
                        <div class="select-wrapper">
                            <select class="col-md-5" id="institution-collections-size-box">
                                <option value="5" selected>5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <span><b>{{(collections.number * collections.size) + 1}}-{{collections.size * (collections.number + 1)}}</b> {{ 'OF' | translate }} {{collections.totalElements}}</span>
                    </div>
                    <div class="form-group">
                        <span  ng-class="{disabled: collections.number === 0}">
                            <a type="submit" class="btn btn-default small small-bt-header" ng-show="collections.number !== 0" ng-click="paginateInstitutionCollections(collections.number - 1, collections.size)"><strong style="color: #666"> &lt; </strong></a>
                            <button  disabled="disabled" class="btn btn-default small small-bt-header" class="page-not-active" ng-show="collections.number === 0"><strong style="color: #666"> &lt; </strong></button>
                        </span>
                        <span ng-class="{disabled: (collections.number === collections.totalPages - 1) || (collections.totalPages === 0)}">
                            <a type="submit" class="btn btn-default small small-bt-header" ng-show="(collections.number !== collections.totalPages - 1) && (collections.totalPages > 0)" ng-click="paginateInstitutionCollections(collections.number + 1,collections.size)"><strong style="color: #666"> &gt; </strong></a>
                            <button disabled="disabled" class="btn btn-default small small-bt-header" ng-show="(collections.number === collections.totalPages - 1) || (collections.totalPages === 0)"><strong style="color: #666"> &gt; </strong></button>
                        </span>
                    </div>

                </form>
            </div>
        </div>

        <hr/>
    </div>
</section>