<section class="page-content" edit-form>

    <!-- Loading screen -->
    <div id="loader-wrapper" class="loading">
        <div id="loader"></div>
    </div>

    <div class="container">
        <nav id="institution-bar-fixed" style="display: none" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <h2 class="navbar-text"><strong>{{'EDIT_INSTITUTION' | translate}}</strong></h2>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-transparent btn-edit-institution-cancel save-form cancel"><strong>{{'CANCEL' | translate}}</strong></button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-white save-form" ng-disabled="institution_form.$invalid"><strong>{{'SAVE_CHANGES' | translate}}</strong></button>
                    </div>
                </form>
            </div>
        </nav>
        <h4 id="institution-bar-default">

            <strong ng-show="!editMode" >{{ institution.name }}</strong>
            <strong ng-show="editMode" >{{'EDIT_INSTITUTION' | translate}}</strong> <span>
                <button ng-show="!editMode" class="btn btn-small btn-tag"><strong>{{ 'INSTITUTIONS'| translate}}</strong></button></span>

            <a id="edit-institution" class="btn btn-small btn-primary pull-right edit-form"><strong>{{'EDIT' | translate}}</strong></a>
            <a class="btn btn-small btn-primary pull-right btn-white save-form" ng-disabled="institution_form.$invalid"><strong>{{'SAVE_CHANGES' | translate}}</strong></a>
            <a class="btn btn-small btn-primary pull-right btn-transparent save-form cancel btn-edit-institution-cancel"><strong>{{'CANCEL' | translate}}</strong></a>
        </h4>

        <hr/>
    </div>
    <div class="container">
         <div class="row">
             <div class="col-md-8">
                 <form action="#" class="form-horizontal view-mode form-block" role="form" name="institution_form" novalidate>
                     <div class="small-field">

                         <div ng-show="!editMode" class="form-group">
                             <label class="col-sm-3">{{ 'INSTITUTION_ID' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" value="{{institution.id}}"></div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3">{{ 'NAME' | translate }} *</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="institution.name" required></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'DESCRIPTION' | translate  }}</label>
                             <div class="col-sm-9">
                                 <textarea elastic type="text" class="form-control" data-ng-model="institution.description" ></textarea>
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'TYPE' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="institution.type" ></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'DISCIPLINE' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="institution.discipline" ></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'GOVERNANCE' | translate }}</label>
                             <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="institution.governance" ></div>
                         </div>

                         <div class="form-group">
                             <label class="col-sm-3">{{ 'CURATORS' | translate }}</label>
                             <div class="col-sm-9">
                                 <table class="researches">
                                     <tbody>
                                     <tr ng-repeat="curator in institution.curators" on-finish-render="ngRepeatFinished">
                                         <td><input type="text" class="form-control" data-ng-model="curator.name" ></td>
                                         <td>&nbsp;&nbsp;<a ng-show="editMode" type="button" style="float: right"  class="btn-small-delete" ng-click="deleteCurator($index);"><i class="fa fa-close"></i></a></td>
                                     </tr>
                                     </tbody>
                                     <tfoot ng-show="editMode">
                                     <tr>
                                         <td><input type="text" data-ng-model="curator.name" class="form-control"></td>
                                         <td>&nbsp;&nbsp;<a style="float: right" id="add-synonym" type="button" class="pull-right btn btn-small-add btn-primary" ng-click="addCurator();"><label>{{ 'ADD' | translate }}</label></a></td>
                                     </tr>
                                     </tfoot>
                                 </table>
                             </div>
                         </div>

                         <div ng-show="!editMode" class="form-group">
                             <label class="col-sm-3">{{ 'INSTITUTION_WEBSITE' | translate }}</label>
                             <div class="col-sm-9">
                                 <a style="margin-left: 10px;" href="{{institution.webSite}}" target="_blank">{{ institution.webSiteName }}</a>
                             </div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3">{{ 'COLLECTION_WEBSITE' | translate }}</label>
                             <div class="col-sm-9">
                                 <span><em>{{ 'TITLE' | translate }}</em></span>
                                 <input type="text" class="form-control" data-ng-model="institution.webSiteName">
                                 <span><em>{{ 'URL' | translate }}</em></span>
                                 <input type="text" class="form-control" data-ng-model="institution.webSite">
                             </div>
                         </div>

                         <div ng-show="editMode" class="form-group">
                             <label class="col-sm-3"><em style="font-weight: 100">* {{ 'REQUIRED_FIELDS' | translate }}</em></label>
                             <div class="col-sm-9">&nbsp;</div>
                         </div>
                     </div>
                 </form>
             </div>

             <div class="col-md-4">
                 <image-box title="Add new photo" image="{{institution.image}}" id="{{institution.image.attachment.id}}"></image-box>
             </div>

         </div>

        <hr/>


    </div>
</section>